body {
margin: 0px;
padding: 40px;
padding-bottom: 0;
background-color:000000;
background-image:url('../img/bg.jpg');
}

.whitebox {
	width: 600px;
	border: 3 double black;
	padding: 25px;
	margin-top: 40px;
	margin-bottom: 40px;
	background-color: white;
	text-align: left;
}

#pic1 {
	position:absolute;
	left:50px;
	top:0px;
}

#pic2 {
	position:absolute;
	left:50px;
	bottom:40px;
}

#pic3 {
	position:absolute;
	right:40px;
	top:0px;
}

#pic4 {
	position:absolute;
	right:70px;
	bottom:40px;
}

